
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#more-vert-button {
  margin-left: auto;
}

#details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

#location {
  text-align: left;
}

#datetime {
  text-align: right;
}

