<mat-card>
  <mat-card-header>
    <mat-card-title>{{ entry.description }}</mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEdit.emit()">
        <mat-icon>edit</mat-icon>
        Bearbeiten
      </button>
      <button mat-menu-item (click)="onDelete.emit()">
        <mat-icon>delete</mat-icon>
        Löschen
      </button>
    </mat-menu>
  </mat-card-header>

  <mat-card-content>
    <div class="content-container">
      <div class="involved-users">
        <mat-icon>call_split</mat-icon>
        @if (isEveryoneInvolved) {
          jeder
        } @else {
          {{ getInvolvedUserNames.join(", ") }}
        }
      </div>

      <div class="distribution">
        <mat-icon>payments</mat-icon>
        <!-- TODO: nicht Gesamtbetrag, sondern pro Person anzeigen -->
        {{ entry.price | currency: "EUR" }}
      </div>

      <div class="creator">
        @if (creator) {
          <img [ngSrc]="creator.profilePictureUrl" width="32" height="32" alt="" class="user-profile-picture">
          {{ creator.firstName }} {{ creator.lastName }}
        } @else {
          <p>Zahlungsempfänger konnte nicht ermittelt werden.</p>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>
