<h1 mat-dialog-title>Event erstellen</h1>
<mat-dialog-content>
  <form>
    <table>
      <tr>
        <td>Titel<sup>*</sup></td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Titel des Events</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Speichern</button>
</mat-dialog-actions>
