@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use "./variables/color" as color-vars;
@use "./variables/size" as size-vars;

@include mat.core();

//--------------------------------------------------//
//                Utilities                         //
//--------------------------------------------------//

@function define-theme($type: light, $primary, $tertiary) {
  @return matx.define-theme((
    color: (
      theme-type: $type,
      primary: $primary,
      tertiary: $tertiary
    ),
    typography: (
      plain-family: (Mada, Roboto, sans-serif)
    )
  ));
}

@mixin apply-theme($theme, $is-base: false) {
  @if ($is-base) {
    @include mat.all-component-themes($theme);
    @include size-vars.apply-size-variables($theme);
  } @else {
    // Only apply color styles without reapplying the same typography and density styles
    @include mat.all-component-colors($theme);
  }

  @include matx.color-variants-back-compat($theme);
  @include color-vars.apply-color-variables($theme);
}


//--------------------------------------------------//
//                Theme Variants                    //
//--------------------------------------------------//

$light-default: define-theme(light, matx.$m3-azure-palette, matx.$m3-violet-palette);
$water: define-theme(light, matx.$m3-blue-palette, matx.$m3-azure-palette);
$grassland: define-theme(light, matx.$m3-green-palette, matx.$m3-yellow-palette);
$sunset: define-theme(light, matx.$m3-orange-palette, matx.$m3-rose-palette);

$dark-default: define-theme(dark, matx.$m3-azure-palette, matx.$m3-violet-palette);
$developer: define-theme(dark, matx.$m3-chartreuse-palette, matx.$m3-green-palette);
$autumn: define-theme(dark, matx.$m3-yellow-palette, matx.$m3-orange-palette);


//define primary colors for the theme preview
:root{
  //light defaults
  --light-primary: #{mat.get-theme-color($light-default, primary)};
  --water-primary: #{mat.get-theme-color($water, primary)};
  --grassland-primary: #{mat.get-theme-color($grassland, primary)};
  --sunset-primary: #{mat.get-theme-color($sunset, primary)};
  //dark defaults
  --dark-primary: #{mat.get-theme-color($dark-default, primary)};
  --developer-primary: #{mat.get-theme-color($developer , primary)};
  --autumn-primary: #{mat.get-theme-color($autumn, primary)};

}
// apply default theme
html {
  @include apply-theme($light-default, true);
}

// apply other theme variants

////////////////////////////////////////////////
//light
//////////////////////////////////////////////


html[theme="water"] {
   @include apply-theme($water);
}
html[theme="grassland"] {
   @include apply-theme($grassland);
}
html[theme="sunset"] {
   @include apply-theme($sunset);
}

////////////////////////////////////////////////
//dark
//////////////////////////////////////////////
html[theme="dark"] {
  @include apply-theme($dark-default);
}
html[theme="developer"] {
  @include apply-theme($developer);
}
html[theme="autumn"] {
  @include apply-theme($autumn);
}
