h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}

mat-form-field {
  width: 100%;
}

p {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
}

.cdk-overlay-container {
  padding: 25px;
}

.add-rider-container {
  display: grid;
  grid: auto / 1fr 2fr;
  gap: 12px;
}

.user-profile-picture {
  display: flex;
  align-items: center;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

mat-divider {
  margin: 0 var(--size-24);
}

@media (max-width: 600px) {
  .add-rider-container {
    display: flex;
    flex-direction: column;
  }
}
