<mat-card>
  <mat-card-content>
    <!--    TODO: hier Card content hinzufügen-->
    <mat-icon inline class="icon-location">location_on</mat-icon>
    <p class="location"> {{ car.driverAdress }}</p>
    <p class="driver"> {{ car.driverId }}</p>
    <p class="anzahlPlaetze"> {{ car.riders }}/{{ car.anzahlPlaetze }}</p>
    <mat-icon inline class="icon-person">person</mat-icon>

    <p class="riders"> {{ getRiders.join(",") }}</p>
    @if (isUserDriver()) {
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit.emit()">
          <mat-icon>edit</mat-icon>
          Bearbeiten
        </button>
        <button mat-menu-item (click)="onDelete.emit()">
          <mat-icon>delete</mat-icon>
          Löschen
        </button>
      </mat-menu>
    } @else {
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button" [hidden]="isGuest()">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditRider.emit()">
          <mat-icon>edit</mat-icon>
          Beitreten
        </button>
        <button mat-menu-item (click)="onRiderDelete.emit()">
          <mat-icon>delete</mat-icon>
          Verlassen
        </button>
      </mat-menu>
    }
  </mat-card-content>
</mat-card>

