mat-card {
  --mdc-elevated-card-container-color: var(--background-container-low-color);
  --mdc-elevated-card-container-elevation: none;
}
mat-card-header {
  padding: 0;
  align-items: center;
}

.menu-button {
  margin-left: auto;
}

.title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--size-12);
  padding-right: 24px;
  font-size: var(--font-size-standard);

  &-location {
    display: flex;
    flex-direction: row;
    gap: var(--size-12);
    padding-right: 24px;
  }
}

.riders-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--size-12);
  padding-right: 24px;
  font-size: var(--font-size-standard);
  align-items: center;
}

p {
  margin: 0;
}

mat-icon {
  flex-shrink: 0;
}

.location-container {
  display: flex;
  flex-direction: row;
  gap: var(--size-24);
  padding-left: var(--size-24);
  &-final {
    display: flex;
    flex-direction: row;
    padding-top: var(--size-12);
  }
}
