<mat-drawer-container *ngIf="gmapsLoaded | async">
  <mat-drawer
    #drawer
    position="end" [mode]="isSmallLayout ? 'over' : 'side'"
    [opened]="!isSmallLayout">
    <div class="location-drawer">
      <button mat-stroked-button (click)="openAddLocationDialog()">
        <mat-icon>add</mat-icon>
        Ort hinzufügen
      </button>
      <div class="list-wrapper">
        <mat-selection-list *ngIf="locations.length > 0" hideSingleSelectionIndicator role="list">
          @for (location of locations; track location.id) {
            <mat-list-item (click)="focusLocation(location)" role="listitem" @slideOut>
              <mat-icon matListItemIcon>location_on</mat-icon>
              <span matListItemTitle>{{ location.name }}</span>
              <span matListItemLine>{{ location.address }}</span>
              <span matListItemMeta class="delete-location">
                <button mat-icon-button (click)="onDeleteClicked($event, location)">
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </mat-list-item>
          }
        </mat-selection-list>
        <p *ngIf="locations.length == 0">
          Keine Orte hinzugefügt.
        </p>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <google-map
      [center]="focussedLocation"
      [zoom]="mapZoom"
      [options]="mapOptions"
      width="100%">
      @for (position of mapsMarkerPositions; track position.lng + "," + position.lat) {
        <map-marker [position]="position"></map-marker>
      }
    </google-map>
    <button mat-icon-button class="drawer-toggle" (click)="drawer.toggle()">
      <mat-icon>{{ drawer.opened ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
