<h1 mat-dialog-title>Event {{ isCreatingNewEvent ? 'erstellen' : 'bearbeiten'}}</h1>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="create-event-container">

      <p>Titel<sup>*</sup></p>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Titel des Events</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <p>Datum und Zeit</p>
      <div>
        <mat-form-field>
          <mat-label>Anfangs- und Enddatum</mat-label>
          <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
            <input matStartDate formControlName="date" placeholder="Anfangsdatum">
            <input matEndDate formControlName="endDate" placeholder="Enddatum">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Startzeit</mat-label>
          <input matInput type="time" formControlName="time" placeholder="Startzeiptunkt">
        </mat-form-field>
      </div>

      <p>Standort</p>
      <div class="create-event-address-input">
        <mat-form-field>
          <mat-label>Straße und Hausnummer</mat-label>
          <input matInput formControlName="street">
        </mat-form-field>
        <div class="grid-container">
          <mat-form-field>
            <mat-label>PLZ</mat-label>
            <input matInput formControlName="postalCode">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Stadt</mat-label>
            <input matInput formControlName="city">
          </mat-form-field>
        </div>
      </div>

      <p>Beschreibung</p>
      <mat-form-field>
        <mat-label>Schreibe eine Beschreibung...</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <!--      <p>Hintergrund</p>-->
      <!--      TODO:Dateiupload Komponente-->
    </div>
  </form>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button [disabled]="!form.valid" [mat-dialog-close]="true" (click)="submit()">
    {{ isCreatingNewEvent ? 'Erstellen' : 'Speichern'}}
  </button>
</mat-dialog-actions>
