.container {
  padding: 16px;
  display: grid;
  place-content: center;
  min-height: 100%;
  gap: var(--size-12);
}

.no-event-picture-div {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.no-event-text-div {
  text-align: center;
}

.add-event-picture {
  position: relative;
  top: 3px;
}

.no-event-picture {
  max-width: 100%;
  height: auto;
  width: auto;
}

.plus-icon {
  color: var(--secondary-color);
  transform: translateY(25%);
}
