.container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  text-align: center;
}

//layout
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

mat-card-title {
  font-size: var(--font-size-title);
}

#more-vert-button {
  margin-left: auto;
}

#details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 40px;
  font-size: var(--font-size-standard);
}

#location {
  text-align: left;
}

.details-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.datetime-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

//color
mat-card {
  background-color: var(--background-primary-color);
  color: var(--foreground-on-primary-color);
}

.icon-color, .material-symbols-outlined {
  color: var(--foreground-on-primary-color);
}

