<div class="container" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
  <div *ngIf="eventData">

    <mat-card>
      <mat-card-header class="card-header">
        <mat-card-title>{{ eventData.name }}</mat-card-title>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon-color">more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            Bearbeiten
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            Verlassen
          </button>
        </mat-menu>
      </mat-card-header>

      <div id="details">
        <div class="details-div">
          <mat-icon matListItemIcon>location_on</mat-icon>
          <p id="location">{{ eventData.location }}</p>
        </div>
        <div class="datetime-div">
          <mat-icon class="material-symbols-outlined">edit_calendar</mat-icon>
          <p id="date">{{ eventData.date | date:"dd.MM.yy" }}</p>
          <p id="time">{{ eventData.date | date:"hh:mm 'Uhr'" }}</p>
        </div>
      </div>
      <mat-card-actions>
        <button mat-button>
          <mat-icon class="material-symbols-outlined">person</mat-icon>
          Teilnehmer anzeigen
        </button>
        <button mat-button>
          <mat-icon class="material-symbols-outlined">link</mat-icon>
          Freunde einladen
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
