<div [class.is-phone-portrait]="isPhonePortrait">
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title class="event-name">{{ eventData.name }}</mat-card-title>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon-color">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEditEventDialog()">
          <mat-icon>edit</mat-icon>
          Bearbeiten
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          Verlassen
        </button>
      </mat-menu>
    </mat-card-header>

    <mat-card-content class="details">

      <div class="details-div">
         @if(eventData.location){
           <mat-icon inline>location_on</mat-icon>
           <p class="location">{{ eventData.location }}</p>
         }
      </div>
      <div class="datetime-container">
        <mat-icon inline>edit_calendar</mat-icon>
        <p class="datetime">
          <span class="datetime-span">
            {{ eventData.date | date: "short" }}
          </span>
          @if (eventData.endDate) {
          <span class="date-separator">-</span>
          <span class="end-date">
          {{ eventData.endDate | date: "shortDate" }}
          </span>
          }
        </p>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="this.showParticipantsClicked.emit();" mat-button>
        <mat-icon>person</mat-icon>
        Teilnehmer anzeigen
      </button>
      <button mat-button>
        <mat-icon>link</mat-icon>
        Freunde einladen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
