//color
mat-expansion-panel{
  background-color: var(--background-primary-color);
  color: var(--foreground-on-primary-color);
}
.mat-expansion-panel-header-title{
  color: var(--foreground-on-primary-color);
}
mat-expansion-panel-header svg{
  fill: var(--foreground-on-primary-color);
}
