<h2 mat-dialog-title class="prim-color">
  Einstellungen
  <button mat-icon-button class="close-button" matDialogClose tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <p>Wähle ein Farbschema aus</p>

  @if (userService.user | async; as user) {
    <h4 class="section-title">Helle Themen</h4>
    <ul class="color-list">
      @for (color of lightColors; track color) {
        <li>
          <app-user-settings-item
            [colorMode]="color"
            [isSelected]="user.settings && user.settings.colorMode === color"
            (onSelect)="selectColorMode(color)"
          ></app-user-settings-item>
        </li>
      }
    </ul>

    <h4 class="section-title">Dunkle Themen</h4>
    <ul class="color-list">
      @for (color of darkColors; track color) {
        <li>
          <app-user-settings-item
            [colorMode]="color"
            [isSelected]="user.settings && user.settings.colorMode === color"
            (onSelect)="selectColorMode(color)"
          ></app-user-settings-item>
        </li>
      }
    </ul>
  }
</mat-dialog-content>
