<h1 mat-dialog-title class="prim-color">Einstellungen</h1>
<p class="subTitle" mat-dialog-title>Wähle ein Farbschema aus.</p>
<mat-dialog-content>
  <p class="subTitle">Day Theme</p>
  <mat-divider></mat-divider>
  <ul class="color-list">
      @for (color of lightColors; track color) {
        <li>
          <app-user-settings-item [color]="color"></app-user-settings-item>
        </li>
      }
  </ul>
  <p class="subTitle">Night Theme</p>
  <mat-divider></mat-divider>
  <ul class="color-list">
      @for (color of darkColors; track color) {
        <li>
          <app-user-settings-item [color]="color"></app-user-settings-item>
        </li>
      }
    </ul>
</mat-dialog-content>
