<div class="container">
  <!-- TODO: for debugging only, remove later -->
  <div *ngIf="userService.user | async; let user">
    <img width="48" height="48" [ngSrc]="user.profilePictureUrl">
    <p>Benutzer: {{ user.firstName }} {{ user.lastName }}</p>
    <p>Ist Gast: {{ user.guest ? 'Ja' : 'Nein' }}</p>
  </div>

  <button (click)="afterAuth()">AfterAuth</button>
  <button (click)="createEvent()">CreateEvent</button>
  <button (click)="getOwn()">GetMyEvents</button>
  <button (click)="generateInvitationLink()">GenerateInvitationLink</button>
  <button (click)="updateEvent()">UpdateEvent</button>
  <!-- TODO: remove above -->

  <!-- TODO: add new component here for event banner -->

  <!-- TODO: add new component here for event description -->

  <!-- TODO: add new component here for widget section -->
</div>
