<h1 mat-dialog-title>Fahrgemeinschaft {{isCreatingNewCar ? 'erstellen' : 'bearbeiten'}}</h1>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="add-carpool-container">
      @if (userService.user | async; as user) {
      <p class="label">Fahrer</p>
      <div>
        <img [ngSrc]="user.profilePictureUrl" width="32" height="32" alt="" class="user-profile-picture">
      {{ user.firstName }} {{ user.lastName }}
      </div>
      }
      <p>Startadresse</p>
        <mat-form-field>
          <mat-label>Adresse</mat-label>
          <input matInput formControlName="adress">
        </mat-form-field>

      <p>Sitzplätze<sup>*</sup></p>
      <mat-form-field>
        <mat-label>Anzahl der Sitzplätze</mat-label>
        <input matInput formControlName="seats">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button [disabled]="!form.valid" (click)="submit()">
    {{ isCreatingNewCar ? 'Erstellen' : 'Speichern' }}
  </button>
</mat-dialog-actions>
