<div *ngIf="entries > 0; else elseBlock">
  <button
    mat-stroked-button
    class="einkaufliste-eintrag-addButton"
    (click)="openAddEntryDialog()">
      <mat-icon>add</mat-icon>
      <span>Eintrag erstellen</span>
  </button>
  <ul class="einkaufliste-eintrag-liste">
    @for (item of eintraege; track item.id) {
      <li class="einkaufliste-eintrag-item">
        <mat-checkbox class="entry-check" (change)="onCheckboxChange(item, $event)" [checked]="item.checked"></mat-checkbox>
        <app-einkaufliste-eintrag-list-item class="entry-item" [item]="item" [eventId]="eventId" [widgetId]="widget.id" (onWidgetUpdated)="onWidgetUpdated.emit($event)"></app-einkaufliste-eintrag-list-item>
      </li>
    }
  </ul>
</div>

<ng-template #elseBlock>
  <app-default-shopping-page [widget]="widget" [eventId]="eventId"></app-default-shopping-page>
</ng-template>



