<div *ngIf="entries > 0; else elseBlock">
  <mat-card>
    <button
      mat-button
      (click)="openAddEntryDialog()">
      <mat-icon>add</mat-icon>
      <span>Eintrag erstellen</span>
    </button>
  </mat-card>
  <ul class="einkaufliste-eintrag-liste">
    @for (item of eintraege; track $index) {
      <li>
        <mat-checkbox (change)="onCheckboxChange(item, $event)" [checked]="item.checked">
          <app-einkaufliste-eintrag-list-item [item]="item"></app-einkaufliste-eintrag-list-item>
        </mat-checkbox>
      </li>
    }
  </ul>
</div>

<ng-template #elseBlock>
  <app-default-shopping-page [widget]="widget" [eventId]="eventId"></app-default-shopping-page>
</ng-template>



