.einkaufliste-eintrag-addButton {
  width: 100%;
  margin: var(--size-10);
  margin-bottom: 0;
  font-size: var(--font-size-standard);
}

button {
  border-radius: 12px;
}

.einkaufliste-eintrag-liste{
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
  list-style: none;
  padding: 0;
  margin-left: var(--size-10);
}

.einkaufliste-eintrag-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entry-item {
  width: 100%;
}

.entry-check {
  margin-right: 5px;
}
