.form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--size-24);

  .label {
    margin: 0 0 4px;
    align-self: center;
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 0;

    .label:not(:first-child) {
      margin-top: var(--size-24);
    }
  }
}

.user-profile-picture {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

.price-input {
  -moz-appearance: textfield;
  text-align: right;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
}
