.container {
  padding: 16px;
}

.create-new-button {
  margin-bottom: var(--size-12);
  width: 100%;
  --mdc-protected-button-container-color: var(--background-container-low-color);
  --mdc-protected-button-container-elevation-shadow: none;
}

.expense-entry-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li:not(:last-child) {
    margin-bottom: var(--size-12);
  }
}

.no-entries-container {
  display: grid;
  place-items: center;
  text-align: center;
  padding: var(--size-12);

  img {
    max-width: 100%;
  }
}
