@use "styles/theme";
@use "styles/variables/breakpoints";

@font-face {
  font-family: 'Mada';
  src: url('assets/mada-font/Mada-VariableFont_wght.ttf');
}

html,
body,
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mada, sans-serif;
}

.left-participant-profile-picture {
  filter: grayscale(75%);
}
