@use '@angular/material' as mat;
@import "../utilities";

//--------------------------------------------------//
//          Static Color Variables                  //
//--------------------------------------------------//

:root {
  --opacity: 100%;
  --black: #121212;
  --white: #fafafa;
}

//--------------------------------------------------//
//           Dynamic Color Variables                //
//--------------------------------------------------//

/// Apply CSS color variables extracted from the given Material theme.
@mixin apply-color-variables($theme) {
  // M3 color roles: https://material.angular.io/guide/material-3#reading-color-roles
  @include define-vars((
    "primary-color": mat.get-theme-color($theme, primary),
    "on-primary-color": mat.get-theme-color($theme, on-primary),
    "secondary-color": mat.get-theme-color($theme, tertiary),
    "on-secondary-color": mat.get-theme-color($theme, on-tertiary),
    "error-color": mat.get-theme-color($theme, error),
    "shadow-color": mat.get-theme-color($theme, shadow),
    "background-color": mat.get-theme-color($theme, surface),
    "background-dim-color": mat.get-theme-color($theme, surface-dim),
    "background-primary-color": mat.get-theme-color($theme, secondary-container),
    "foreground-color": mat.get-theme-color($theme, on-surface),
    "foreground-dim-color": mat.get-theme-color($theme, on-surface-variant),
    "foreground-on-primary-color": mat.get-theme-color($theme, on-secondary-container),
    "border-color": mat.get-theme-color($theme, outline),
    "border-dim-color": mat.get-theme-color($theme, outline-variant),
  ));
}
