:root {
  --opacity: 100%;
  --black: #121212;
  --white: #fafafa;
  --border-gray: #bbbbbb;
  --background-gray: #f0f0f0;

  //Akzentfarben (später individuell)
  --primary-color: #264653;
  --secondary-color: #E76F51;
}
