:root {
  --size-12: 12px;
  --size-24: 24px;

  /*
 FONT-SIZE
 */
  --font-size-small: 26px;
  --font-size-standard: 32px;
  --font-size-subtitle: 36px;
  --font-size-title: 80px;
}

.is-phone-portrait {
  --font-size-small: 14px;
  --font-size-standard: 18px;
  --font-size-subtitle: 22px;
  --font-size-title: 46px;
}
