.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--background-primary-color);
  color: var(--foreground-on-primary-color);
  padding: 20px;

  .progress-bar {
    max-width: 250px;
    border-radius: 10px;
  }
}
