<div class="profile-container">
  <div *ngIf="userService.user | async; let user; else elseBlock">
    <img
      [matMenuTriggerFor]="menu"
      matTooltip="{{ user.firstName }} {{ user.lastName }}"
      class="profilIcon"
      width="30"
      height="30"
      [ngSrc]="user.profilePictureUrl">
    <mat-menu class="profile-menu" #menu="matMenu">
      <button class="setting-button" mat-menu-item>
        <span class="material-icons">settings</span>
        Einstellungen
      </button>
      <button class="setting-button" mat-menu-item>
        <span class="material-icons">logout</span>
        Logout
      </button>
    </mat-menu>
  </div>
  <ng-template #elseBlock>
    <span
      [matMenuTriggerFor]="menu"
      matTooltip="Gast"
      class="material-icons">
        account_circle
    </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span class="material-icons">login</span>
        Login
      </button>
    </mat-menu>
  </ng-template>

  <span class="material-icons event-add-button">add</span>
</div>
<mat-divider></mat-divider>
