<div *ngIf="userService.user | async; let user" class="profile-container">
  <div>
    <img
      [matMenuTriggerFor]="menu"
      [matTooltip]="getUsername(user)"
      class="profile-icon"
      width="30"
      height="30"
      [ngSrc]="user.profilePictureUrl"
      alt="Profilbild">

    <mat-menu #menu="matMenu">
      @if (user.guest) {
        <button mat-menu-item>
          <mat-icon>login</mat-icon>
          Login
        </button>
      } @else {
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          Einstellungen
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      }
    </mat-menu>
  </div>

  <button mat-icon-button color="accent" matTooltip="Event erstellen" [disabled]="user.guest">
    <mat-icon class="event-add-button">add</mat-icon>
  </button>
</div>
