.profile-container {
  padding: 0 var(--size-24);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-icon {
  border-radius: var(--size-24);
}
