.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profilIcon {
  border-radius: var(--size-20);
}

.profile-menu{
  font-size: var(--font-size-small);
}

.setting-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  width: 100%;
  .material-icons{
    margin-right: 5px;
  }
  &:hover {
    cursor: pointer;
    background-color: var(--background-gray);
  }
}

.event-add-button {
  font-size: var(--font-size-standard);
  color: var(--secondary-color);
}
