<div *ngIf="eventData">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer-content class="content">
      <app-event-banner (showParticipantsClicked)="drawer.toggle()" [eventData]="eventData"></app-event-banner>
      <br>
      <app-event-description [eventData]="eventData"></app-event-description>
      <br>
      <app-widgets-section [eventData]="eventData"></app-widgets-section>
    </mat-drawer-content>

    <mat-drawer #drawer class="participants-sidenav" mode="over" position="end">
      <app-participants-sidenav [eventData]="eventData"></app-participants-sidenav>
    </mat-drawer>
  </mat-drawer-container>
</div>
