.widgets-bar {
  position: sticky;
  z-index: 5;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: var(--background-color);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;

  app-widgets-bar {
    min-width: 0;
  }
}

.widgets {
  height: 100%;
  padding: 16px;
  //background-color: var(--background-container-low-color);

  .widget-card {
    overflow: clip;
  }

  app-widget-container {
    scroll-margin-top: 70px;
  }
}

::ng-deep .is-mobile {
  .widgets-bar {
    top: var(--mat-toolbar-mobile-height);
  }

  app-widget-container {
    scroll-margin-top: calc(var(--mat-toolbar-mobile-height) + 70px) !important;
  }
}

.no-widgets-container {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 4px;
  margin-top: var(--size-24);

  .no-widgets-picture {
    max-width: 100%;
  }
}
