<div class="widgets-bar" *ngIf="eventData.widgets.length > 0">
  <app-widgets-bar
    [widgets]="eventData.widgets"
    [selected]="selectedWidgetId"
    (onClick)="scrollToWidget($event)"
  ></app-widgets-bar>

  <button mat-icon-button matTooltip="Widget hinzufügen">
    <mat-icon>widgets</mat-icon>
  </button>
</div>

<div class="widgets">
  @for (widget of eventData.widgets; track widget.id) {
    <app-widget-container
      [widget]="widget"
      [eventData]="eventData"
      (onWidgetUpdated)="onWidgetUpdated.emit($event)"
    ></app-widget-container>
    <br>
  } @empty {
    <div class="no-widgets-container">
      <img class="no-widgets-picture" width="300" height="250" ngSrc="./assets/noWidgets.svg" alt="">
      <h4>Keine Widgets vorhanden</h4>
      <button mat-stroked-button>
        <mat-icon>widgets</mat-icon>
        Widget hinzufügen
      </button>
    </div>
  }
</div>
